<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>الأخبار التقنية</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/rtl/bootstrap.min.css" rel="stylesheet" />

  <!-- not use this in ltr -->
  <link href="css/rtl/bootstrap.rtl.css" rel="stylesheet" />

  <!-- MetisMenu CSS -->
  <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />

  <!-- DataTables CSS -->
  <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet" />

  <!-- Timeline CSS -->
  <link href="css/plugins/timeline.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/rtl/sb-admin-2.css" rel="stylesheet" />

  <!-- Morris Charts CSS -->
  <link href="css/plugins/morris.css" rel="stylesheet" />

  <!-- Custom Fonts -->
  <link
    href="css/font-awesome/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link rel="icon" type="image/x-icon" href="/images/icons/live.ico" />
</head>
